main {
  overflow: hidden;
  margin: auto;
  max-height: 1750px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

section {
  border: 1px solid black; 
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

img {
  max-width: 75px;
  /* padding-left: 70px; */
} 

h2 {
  max-width: 200px;
  /* text-align: center; */
  font-family: 'Abel', sans-serif;
}

p {
  max-width: 200px;
  /* text-align: center; */
  font-family: 'Patrick Hand', sans-serif;

}
